# Backend
/backend/node_modules/
/backend/.env
/backend/logs/
/backend/*.log

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.vite

# Global ignores
.DS_Store
Thumbs.db
.vscode/
*.log

desktop.ini